html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height:100%;
}

.carousal {
    height: 100%;
    width: 100%;
}

.carousal__item {
    height: 250px;
    width: 500px;
    border-radius: 40px;
    position: absolute;
    top:30%;
    left:31%;
}
.wrapper {
    position: relative;
    height: inherit;
    width: inherit;
}

#item1{
    background-color: aquamarine;
    z-index: 1;
}

#item2{
    background-color: rosybrown;
}

#item3{
    background-color: burlywood;
}

#item4{
    background-color: gray;
}

#item5{
    background-color: yellowgreen;
}

#left-arrow {
    position: absolute;
    left: 25%;
    top : 40%;
}

#right-arrow {
    position: absolute;
    right: 25%;
    top : 40%;
}